body{
  margin: 0;
  background-color: lightGrey;
  font-family: arial;
}
a{
  text-decoration: none;
}

/* HEADER */
header{
  background-color: grey;
  color: white;
  text-align: center;
}
header img{
  height: 5vh;
}
.bandeau{
  padding: 10px;
  font-size: 8vh;
  background-color: #1e90ff;
}
nav{
  padding: 0 10px;
  font-size: 6vh;
}
nav a{
  color: white;
  padding: 0 7vw 0 7vw;
}
.active{
  background-color: #1e90ff;
}

/* CONTENT */
.content{
  text-align: center;
  padding-top: 10vh;
}
li{
  list-style-type: none;
  display: inline-block;
  margin: 5vh 5vw 5vh 5vw;
}
li a{
  border-radius:12px 0 12px 0;
	background: #1e90ff;
	border:none;
	color:#fff;
  font-size: 3vh;
	padding: 5vh 5vw 5vh 5vw;
}
li a:hover{
  background: #d34836;
}
li a:visited{
  background: #d34836;
}
